<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>Maniak Mansion</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="{{ index.md }}" class="btn btn-github"><span class="icon"></span>The Maniaks</a>
          <a href="{{ sincere.md }}" ><span class="icon"></span>Slice of Life</a>
          <a href="{{ heavy.md }}" ><span class="icon"></span>II Heavy</a>
          <a href="{{ slays.md }}" ><span class="icon"></span>Slays</a>
          <a href="{{ armiger.md }}" ><span class="icon"></span>Armiger</a>
          <a href="{{ ekratos.md }}" ><span class="icon"></span>Ekratos</a>
          <a href="{{ kingkong.md }}" ><span class="icon"></span>King Kong</a>
          <a href="{{ f8eclipse.md }}" ><span class="icon"></span>F8Eclipse</a>
          <a href="{{ noc.md }}" ><span class="icon"></span>Noc</a>
          <a href="{{ splashy.md }}" ><span class="icon"></span>Splashy</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
